* {
  box-sizing: border-box;
}

button {
  margin: 5px 10px;
}

.login-outer {
  padding: 5vw;
  margin: 5% 20%;
  border-radius: 15px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(69, 0, 69)
  );
}
